<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.mybatis.mapper.BookMapper">
    <select id="selectBook" resultType="com.learning.mybatis.bean.Book">
        select isbn, book_name bookName, price from book where isbn = #{isbn}
    </select>

    <insert id="insertBook" parameterType="com.learning.mybatis.bean.Book">
        insert into book values (#{isbn}, #{bookName},#{price})
    </insert>

    <update id="updateBook" parameterType="com.learning.mybatis.bean.Book">
        update book set price = #{price} where isbn = #{isbn}
    </update>

    <delete id="deleteBook" >
        delete from book where isbn = #{isbn}
    </delete>
    <!--级联查询，自定义规则map-->
    <resultMap id="map1" type="com.learning.mybatis.bean2.Book">
        <result column="isbn" property="isbn"/>
        <result column="book_name" property="bookName"/>
        <result column="bs_isbn" property="bookStock.isbn"/>
        <result column="stock" property="bookStock.stock"/>
    </resultMap>
    <!--级联查询，自定义规则map二, association属性-->
    <resultMap id="map2" type="com.learning.mybatis.bean2.Book">
        <result column="isbn" property="isbn"/>
        <result column="book_name" property="bookName"/>
        <association property="bookStock" javaType="com.learning.mybatis.bean2.BookStock">
            <result column="bs_isbn" property="isbn"/>
            <result column="stock" property="stock"/>
        </association>
    </resultMap>

    <select id="selectBookAndStock" resultMap="map2">
        select book.isbn isbn, book_name, price, book_stock.isbn bs_isbn, stock
        from book, book_stock
        where book.isbn =  book_stock.isbn and book.isbn = #{isbn}
    </select>

    <!--级联查询，自定义规则map二, association属性-->
    <resultMap id="map3" type="com.learning.mybatis.bean2.Book">
        <result column="isbn" property="isbn"/>
        <result column="book_name" property="bookName"/>
        <association property="bookStock"
                     select="com.learning.mybatis.mapper.BookStockMapper.selectBookStock"
                     column="isbn">
        </association>
    </resultMap>

    <select id="selectBookStep" resultMap="map3">
        select * from book where isbn = #{isbn}
    </select>
</mapper>