<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learning.mybatis.mapper.BookStockMapper">
    <select id="selectBookStock" resultType="com.learning.mybatis.bean2.BookStock">
        select * from book_stock where isbn = #{isbn}
    </select>

</mapper>